# Database Configuration
DB_HOST=localhost
DB_NAME=DB_DilliStyle
DB_USER=admin_zafar
DB_PASS=Zafima@20

# JWT Secret
JWT_SECRET=aJ5*kL9$pQ2#rT7!zX3@bN6^mV0&cD8%

# API Information
API_VERSION=1.0.0
API_NAME="Dilli Style API"

# Base URL
BASE_URL=https://backend.dillistyle.shop 
